<div class="main-container">
  <mat-toolbar class="main-toolbar">
    <strong class="main-title">{{ 'app.title' | translate }}</strong>

    <nav
      class="flex items-center gap-2"
      [attr.aria-label]="'app.nav.ariaLabel' | translate"
    >
      <a
        class="!rounded-full !px-4"
        mat-button
        routerLink="/"
        routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ 'app.nav.photos' | translate }}</a
      >
      <a
        class="!rounded-full !px-4"
        mat-button
        routerLink="/favourites"
        routerLinkActive="active-nav-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ 'app.nav.favourites' | translate }}</a
      >
    </nav>
  </mat-toolbar>

  <main class="content-container">
    <router-outlet></router-outlet>
  </main>
</div>
